<template>
    <div class="products_table">
        <div class="products_table__row"
             v-for="item in productsInCart"
             :key="item.product.id">
            <div class="product">
                <img class="product__image" :src="item.product.imageUrl" alt="">
                <div class="product__name">{{item.product.name}}</div>
                <div class="product__amount">
                    <Counter :value="item.amount" @input="(val) => $emit('changeAmount', item.product.id, val)"/>
                </div>
            </div>
            <hr class="product__separator"/>
        </div>
    </div>
</template>

<script>
  import Counter from "@/components/Common/Counter";

  export default {
    name: "Table",
    components: { Counter },
    props: {
      productsInCart: {
        type: Array,
        required: true
      }
    }
  };
</script>

<style lang="scss" scoped>
    .main {
        margin-top: 10vh !important;
    }

    .product {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        align-items: center;

        &__separator {
            display: block;
            margin: 15px 0;
        }

        &__image {
            max-width: 100%;
        }
        &__name {
            font-size: 2vh;
        }
    }

</style>
