<template>
    <div class="product">
        <p class="product__name">{{product.name}}</p>
        <hr class="product__separator">
        <div class="product__image-container d-flex justify-content-center">
            <img class="product__image" :src="product.imageUrl" alt="">
        </div>
        <div class="product__counter">
            <Counter :value="amountOfProduct" @input="(val) => this.counter = val"/>
            <Button
                    content="Add To Cart"
                    :disabled="!counter"
                    @click="$emit('addToCart', counter)"
            />
        </div>
    </div>
</template>

<script>
  import Counter from "@/components/Common/Counter";
  import Button from "@/components/Common/Button";

  export default {
    name: "FoundProduct",
    components: { Button, Counter },
    data() {
      return {
        counter: 0
      };
    },
    props: {
      product: {
        type: Object,
        required: true
      },
      amountOfProduct: {
        type: Number
      }
    },
  };
</script>

<style lang="scss" scoped>
    .product {
        margin-top: 50px;

        &__name {
            font-size: 25px;
            font-weight: 600;
            color: black;
        }

        &__separator {
            display: block;
            border-top: 1px solid black;
        }

        &__image {
            max-height: 40vh;
            max-width: 100%;
        }

        &__counter {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100px;
            width: 100%;
            box-shadow: 0 -5px 25px #dfdfdf;
        }
    }

</style>
