body {
  margin: 0;
  padding: 0;
  .container {
    padding: 5vw;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
  }
  .nav {
    &__link {
      font-size: 18px;
      text-decoration: none;
      color: #6f00ffbf;
      border: 1px #6f00ff42 solid;
      border-radius: 10px;
      box-shadow: 1px 3px 5px #6f00ffbf;
      padding: 5px;
      cursor: pointer;
    }
  }
  .main {
    //min-height: 90vh;
    margin-top: 4vh;
  }
}

