<template>
    <div class="container">
        <div class="nav">
            <router-link :to="linkToScanner.to" class="nav__link">Go to {{ linkToScanner.name }}</router-link>
        </div>
        <main class="main">
           <Table :productsInCart="productsInCart" @changeAmount="changeAmountOfProduct"/>
        </main>
    </div>
</template>
<script>
  import Table from "@/components/Cart/Table";
  export default {
    name: 'Cart',
    components: { Table },
    data() {
      return {
        linkToScanner: {
          name: 'Scanner',
          to: '/scanner'
        }
      }
    },
    computed: {
      productsInCart() {
        return this.$store.state.cart;
      }
    },
    methods: {
      changeAmountOfProduct(productId, amount) {
        this.$store.dispatch('updateAmountOfProductById', {productId, amount})
      }
    }
  }
</script>

<style lang="scss">

</style>
