<template>
    <div class="container">
        <div class="nav">
            <router-link :to="linkToCart.to" class="nav__link">Go to {{ linkToCart.name }}</router-link>
        </div>
        <main class="main">
            <FoundProduct v-if="foundProduct && !loading" :product="foundProduct" :amountOfProduct="amountOfProduct"
                          @addToCart="addToCart"/>
            <div v-else class="main__hero">
                <a v-if="showButton" @click="start" class="main__hero_button">Start scanning</a>
                <div class="main__hero_video" id="videoWindow"></div>
            </div>
        </main>
    </div>
</template>
<script>
  import FoundProduct from "@/components/Scanner/FoundProduct";

  const Quagga = window.Quagga;

  export default {
    name: 'Scanner',
    components: { FoundProduct },
    data() {
      return {
        showButton: true,
        foundCodes: null,
        loading: true,
        linkToCart: {
          name: 'Cart',
          to: '/cart'
        },
        amountOfProduct: 0
      };
    },
    computed: {
      products() {
        return this.$store.state.products;
      },
      foundProduct() {
        return this.$store.state.currentProduct;
      },
    },
    created() {
      this.$store.dispatch('fetchProducts');
    },
    mounted() {
      Quagga.onDetected((data) => {
        const foundResult = data[0];
        this.foundCodes = foundResult.codeResult.code;
        const foundProduct = this.checkCode(this.foundCodes);
        this.amountOfProduct = 0;
        if (foundProduct) {
          this.stop();
          this.$store.dispatch('fetchProduct', foundProduct.id).then(() => {
              const productInCart = this.checkProductInCart(this.$store.state.currentProduct.id);
              if (productInCart) {
                this.amountOfProduct = productInCart.amount;
              }
            }
          ).then(() => {
            this.loading = false;
          });
        }
        this.$emit("found", this.foundCodes);
      });
    },

    methods: {
      start() {
        this.showButton = false;
        const config = {
          locate: true,
          inputStream: {
            name: "live",
            type: "LiveStream",
            target: document.querySelector("#videoWindow")
          },
          decoder: {
            readers: [ "ean_reader" ],
            multiple: true
          },
          locator: {
            halfSample: true,
            patchSize: "medium"
          }
        };
        Quagga.init(config, err => {
          if (err) {
            console.log(err);
            return;
          }
          Quagga.start();
        });
      },
      stop() {
        this.showButton = true;
        Quagga.stop();
      },

      checkCode(code) {
        return this.products.find(product => product.code === code);
      },

      checkProductInCart(productId) {
        return this.$store.state.cart.find(item => item.product.id === productId);
      },

      addToCart(amount) {
        this.$store.dispatch('addProductToCart', { product: this.foundProduct, amount: amount });
        this.$store.dispatch('fetchProduct', null);
      }
    }

  };
</script>

<style lang="scss" scoped>
    @keyframes pulse {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }

    .main {
        &__hero {
            min-height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;

            &_button {
                position: absolute;
                font-size: 4vh;
                color: #6f00ffbf;
                text-align: center;
                border: 1px #6f00ff42 solid;
                width: 15vh;
                height: 15vh;
                border-radius: 50%;
                display: flex;
                align-items: center;
                padding: 30px;
                animation: pulse 1s ease-in-out infinite forwards alternate;
            }
        }
    }

</style>
