<template>
    <button
            class="button"
            :class="{'button_disabled': disabled}"
            :disabled="disabled"
            @click="$emit('click')">
        {{ content }}
    </button>
</template>

<script>
  export default {
    name: "Button",
    props: {
      content: {
        type: String
      },
      disabled: {
        type: Boolean,
        default: false
      }
    }
  };
</script>

<style lang="scss" scoped>
    .button {
        background: white;
        font-size: 18px;
        text-decoration: none;
        color: #6f00ffbf;
        border: 1px #6f00ff42 solid;
        border-radius: 10px;
        box-shadow: 1px 3px 5px #6f00ffbf;
        padding: 5px;
        cursor: pointer;

        &_disabled {
            color: #46454842;
            background: #efefef;
            box-shadow: none;
            border: 1px #46454842 solid;
            cursor: none;
        }
    }

    .button:focus {
        outline: none;
    }
</style>
