<template>
    <div class="counter">
        <div class="counter__decrement-button" @click="decrement">
            <div class="counter__sign">
                -
            </div>
        </div>
        <div class="counter__value">
            <input type="text" v-model="number" @input="handleInput">
        </div>
        <div class="counter__increment-button" @click="increment">
            <div class="counter__sign">
                +
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Counter",
    props: {
      value: {
        type: Number
      }
    },
    data() {
      return {
        number: this.value,
      }
    },
    watch: {
      value(newValue) {
        this.number = newValue;
      }
    },

    methods: {
      handleInput(e) {
        let val = e.target.value === "" ? 0 : parseInt(e.target.value);
        if (val >= 0) {
          this.number = val;
          this.changedValue();
          return;
        }
        this.number = 0;
      },
      increment() {
        this.number++;
        this.$emit('input', this.number);
        this.changedValue();
      },
      decrement() {
        this.number = this.number > 0 ? this.number - 1 : 0;
        this.changedValue();
      },
      changedValue() {
        this.$emit('input', this.number);
      }
    }
  };
</script>

<style lang="scss" scoped>
    .counter {
        user-select: none;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    @mixin box($x: 15px) {
        width: $x;
        height: $x;
    }

    @mixin center-items() {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @mixin button-common() {
        $buttonColor: #6f00ffbf;
        $borderColor: #6f00ffbf;
        cursor: pointer;
        background-color: $buttonColor;
        border: 1px solid $borderColor;
        &:hover {
            background-color: darken($buttonColor, 5%);
            border: 1px solid lighten($borderColor, 15%);
        }
        &:active {
            background-color: darken($buttonColor, 15%);
        }
        i {
            color: white;
            font-size: 1em
        }
    }

    .counter {
        $roundness: 3px;
        $valueBackground: #f8f9fa;
        user-select: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &__increment-button {
            @include box(40px);
            @include center-items();
            @include button-common();

        }

        &__decrement-button {
            @include box(40px);
            @include center-items;
            @include button-common();

        }

        &__value {
            @include box(42px);
            display: flex;

            input {
                width: 42px;
                margin: 0px;
                padding: 0px;
                text-align: center;
                border: none;
                border-top: 1px solid #6f00ffbf;
                border-bottom: 1px solid #6f00ffbf;
                border-radius: 0;
            }
        }
        &__sign {
            color: white;
            font-size: 20px;
        }
    }

</style>
